<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miloway.miloprocessandthreadtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission android:name="com.miloway.adil.permission"
                android:protectionLevel="signature" />
    <!-- 声明使用指定的权限 -->
    <uses-permission android:name="com.miloway.adil.permission" />



    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProcessShareActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="app"
                    android:host="test">
                </data>

            </intent-filter>
            </activity>
        <activity android:name=".ThreadShareActivity"/>
        <service android:name=".process.MyService"
            />
        <service android:name=".process.MyExportService"
            android:exported="true"
            android:permission="com.miloway.adil.permission"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="com.miloway.aidl"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <provider
            android:authorities="com.miloway.contentprovider"
            android:name=".process.MyContentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            />

    </application>

</manifest>